---
layout: page
title: "👀关于我"
description: "「用力活着用力爱哪怕肝脑涂地」"
header-img: "img/xiaowangzi2.jpg"
multilingual: true
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>
<!--//添加评论系统-->
<link rel="stylesheet" href="../../../../css/gitalk.css">
    <script src="../../../../js/gitalk.min.js"></script>
<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>
