/* 设置整个页面的背景颜色 */
body {
  background-color: #f1f1f1;
}

body 
{
    background-image:url('norho.png');
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
}
